<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex *ngIf="dishes">
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
 <md-list fxFlex>
  <md-list-item *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
    <img md-list-avatar src={{dish.image}} alt={{dish.name}}>
     <img height="200px" src="{{BaseURL + dish.image}}" alt={{dish.name}}>
    <h1 md-line> {{dish.name}} </h1>
    <p md-line>
      <span> {{dish.description}} </span>
    </p>
  </md-list-item>
</md-list>
  </div> 
<div [hidden]="dishes || errMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div> 
</div>